.idea/libraries/
.idea/dictionaries/
.idea/modules/
.idea/shelf/
.idea/compiler.xml
.idea/gradle.xml
.idea/modules.xml
.idea/workspace.xml
.idea/uiDesigner.xml
.idea/space-engine.iml

.gradle/
**/build/
**/out/